In [2]:
import pandas as pd
df = pd.read_csv('top_5000_actors_matrix.csv', header=0, index_col='movieId')

In [3]:
df.head()

,50 Cent,A. Michael Baldwin,A.J. Cook,A.J. Langer,Aaliyah,Aamir Khan,Aaron Abrams,Aaron Eckhart,Aaron Paul,Aaron Taylor-Johnson,...,Zero Mostel,Zinedine Soualem,Ziyi Zhang,Zoe Kazan,Zoe Saldana,Zooey Deschanel,Zoë Bell,Ángel de Andrés López,Élodie Bouchez,Émilie Dequenne
movieId,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
actors = df
movies = pd.read_csv('titles.csv')

In [5]:
movies.head()

   movieId                        title
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

In [6]:
movies = movies.set_index('movieId')
movies.head()

                               title
movieId
1                          Toy Story
2                            Jumanji
3                   Grumpier Old Men
4                  Waiting to Exhale
5        Father of the Bride Part II

In [11]:
actors = pd.merge(left=actors.reset_index(), right=movies.reset_index(), on='movieId')

In [12]:
actors.shape()

TypeError: 'tuple' object is not callable

In [13]:
actors

,movieId,50 Cent,A. Michael Baldwin,A.J. Cook,A.J. Langer,Aaliyah,Aamir Khan,Aaron Abrams,Aaron Eckhart,Aaron Paul,...,Zinedine Soualem,Ziyi Zhang,Zoe Kazan,Zoe Saldana,Zooey Deschanel,Zoë Bell,Ángel de Andrés López,Élodie Bouchez,Émilie Dequenne,title
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Toy Story
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jumanji
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Grumpier Old Men
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Waiting to Exhale
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Father of the Bride Part II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9415,130520,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Home
9416,130578,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,The Gunman
9417,130840,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Spring
9418,131013,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Get Hard
9419,131168,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Phoenix

In [14]:
actors = actors.set_index('movieId')

In [15]:
actors

,50 Cent,A. Michael Baldwin,A.J. Cook,A.J. Langer,Aaliyah,Aamir Khan,Aaron Abrams,Aaron Eckhart,Aaron Paul,Aaron Taylor-Johnson,...,Zinedine Soualem,Ziyi Zhang,Zoe Kazan,Zoe Saldana,Zooey Deschanel,Zoë Bell,Ángel de Andrés López,Élodie Bouchez,Émilie Dequenne,title
movieId,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Toy Story
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Jumanji
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Grumpier Old Men
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Waiting to Exhale
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Father of the Bride Part II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130520,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Home
130578,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,The Gunman
130840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Spring
131013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Get Hard
131168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Phoenix

In [17]:
actors = actors.drop('title', axis='columns')

In [18]:
actors.to_csv('actors.csv', sep=',')

In [25]:
actors = actors.transpose()

In [37]:
x, y = actors.shape
actor_list = pd.Series()
for i in range(x):
    actor = actors.iloc[i,:]
    actor = actor.replace({0:pd.NA, 1:actor.name}).dropna()
    actor_list = actor_list.append(actor)

C:\Users\pierr\AppData\Local\Temp/ipykernel_13196/2861522441.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  actor_list = pd.Series()

In [39]:
actor_list.to_csv('actor_list.csv', sep=',')

In [34]:
actors.shape

(4999, 9420)