In [1]:
import pandas as pd

In [2]:
actors = pd.read_csv(r"C:\Users\pierr\Documents\GitHub\PyMovie\data\vectors_casting_3.csv", index_col=0)

In [3]:

actors = actors.rename({"tconst":"movieId"}, axis="columns")

In [4]:
actors

,imdbId,Aamir Khan,Aaron Eckhart,Aaron Taylor-Johnson,Abbie Cornish,Abigail Breslin,Adam Brody,Adam Sandler,Adam Scott,Adrien Brody,...,Yasiin Bey,Yves Montand,Zac Efron,Zach Braff,Zach Galifianakis,Ziyi Zhang,Zoe Saldana,Zooey Deschanel,movieId,tmdbId
0,12349,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3310,10098.0
1,15864,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3629,962.0
2,18773,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3306,28978.0
3,20640,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7706,13913.0
4,21079,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25773,27899.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5248,3844362,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,127204,308024.0
5249,3850214,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,127198,308639.0
5250,3877200,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,119565,301231.0
5251,3878542,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,124867,297556.0
5252,4007502,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,130075,326359.0

In [5]:
actors.shape

(5253, 1237)

In [6]:
movies = pd.read_csv(r"C:\Users\pierr\Documents\GitHub\PyMovie\data\mvl_movies.csv", index_col=0)

In [7]:
movies

,movieId,title,year,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,workplace,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie
0,1,Toy Story,1995,0,0,1,1,1,1,0,...,1,0,0,0,0,1,0,0,0,0
1,2,Jumanji,1995,0,0,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,3,Grumpier Old Men,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,1995,0,0,0,0,0,1,0,...,2,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10361,130578,The Gunman,2015,0,1,0,0,0,0,0,...,1,0,0,0,0,2,0,0,0,0
10362,130840,Spring,2014,0,0,0,0,0,0,0,...,0,0,0,0,2,4,1,0,0,2
10363,131013,Get Hard,2015,0,0,0,0,0,1,0,...,2,0,0,0,0,1,1,0,0,0
10364,131168,Phoenix,2014,0,0,0,0,0,0,0,...,0,2,1,8,0,1,0,0,5,0
10365,131170,Parallels,2015,0,0,0,0,0,0,0,...,0,0,0,0,0,6,5,0,0,1

In [8]:
movies_actors = pd.merge(left=movies, right=actors, on="movieId")

In [9]:
movies_actors

,movieId,title,year,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Xavier Samuel,Yasiin Bey,Yves Montand,Zac Efron,Zach Braff,Zach Galifianakis,Ziyi Zhang,Zoe Saldana,Zooey Deschanel,tmdbId
0,1,Toy Story,1995,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,862.0
1,2,Jumanji,1995,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,8844.0
2,3,Grumpier Old Men,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,15602.0
3,5,Father of the Bride Part II,1995,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,11862.0
4,6,Heat,1995,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,949.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,130496,Big Game,2014,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,230179.0
4971,130520,Home,2015,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,228161.0
4972,130578,The Gunman,2015,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,266396.0
4973,130840,Spring,2014,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,241855.0
4974,131013,Get Hard,2015,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,257091.0

In [10]:
movies_actors.shape

(4975, 2343)

In [11]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

In [12]:
def content_based_rec(id, n_rec=10, s='euclidean', m='euclidean'):
    scaler = StandardScaler()
    data = actors.drop(['movieId', 'imdbId', 'tmdbId'], axis=1)
    data_scaled = scaler.fit_transform(data)
    n_neighbors = NearestNeighbors(n_neighbors=n_rec+1, algorithm='auto', metric=m)
    n_neighbors.fit(data_scaled)
    movie = actors[actors['movieId']==id]
    movie_data = scaler.transform(movie.drop(['movieId', 'imdbId', 'tmdbId'], axis=1))
    dist, results = n_neighbors.kneighbors(movie_data, n_rec+1, return_distance=True)
    rec = actors.iloc[results[0][1:],:]
    return rec, dist

In [13]:
r, d = content_based_rec(1240)

In [14]:
r

,imdbId,Aamir Khan,Aaron Eckhart,Aaron Taylor-Johnson,Abbie Cornish,Abigail Breslin,Adam Brody,Adam Sandler,Adam Scott,Adrien Brody,...,Yasiin Bey,Yves Montand,Zac Efron,Zach Braff,Zach Galifianakis,Ziyi Zhang,Zoe Saldana,Zooey Deschanel,movieId,tmdbId
875,90605,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1200,679.0
1080,96754,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1127,2756.0
2755,285175,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,41617,14695.0
1212,100232,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4207,12773.0
368,65832,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6995,5227.0
857,89893,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2373,9626.0
1459,107362,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,485,9593.0
1822,116705,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1359,9279.0
777,87078,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5040,9610.0
923,91828,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7310,2099.0